.t {
    border: 4px double #333;
    border-collapse: separate;
    width: 100%;
    border-spacing: 7px 11px;
}

button {
  margin-right: 8px;
}

.content {

    min-height: 200px;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
}

.spacer {
    margin-left: 72%;
    margin-top: 5px;
    align: down;
}

.green {
    color: green;
}

.find {
  margin-right: 10px;
  vertical-align: middle;

}
.mat-form-field {
  margin-right: 16px;
}




